#navbar{
  background-color: #154360;
  width: 100%;
  font-size: large;
}
img{
    width: 500px;
    height: 900px;
}
span{
    color:brown;
}
.card{
  transition: all 400ms ease;
}
.card:hover{
   transform: translateY(-3%);
}